 <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">

      <a class="navbar-brand" id="logo" href="#">FOODtube</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>


  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-5">Search for your favorite recipes and learn how to make delicious meals in no time!</h1>
          <h1 class="mb-5"></h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form id="search-term" class="form-inline" action="#resultsAnchor">

            <input id="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
              required>

            <button class="btn btn-outline-light" id="button" type="submit"> <strong>Search</strong></button>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!--Displays recipe info and id's are still movie themed-->
  <div class="container">
    <div class="row">

      <!-- container for recipe cards -->
      <div class="col-md-9" id="recipeCards">

      </div>


      <!--List of Youtube Results-->
      <div class="col-md-3" id="videos">
        <div class="card h-100 bg-light mb-3" style="max-width: 100%;">
          <div class="card-header">Videos</div>
          <div class="card-body">
            <h5 class="card-title" id="video-title"></h5>
            <p class="card-text" id="video-info"></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <footer class="py-2 fixed-bottom" id="footer">
      <p class="m-0 text-center text-white">Copyright &copy; Project X 2018</p>
  </footer>


</body>

</html>




{{!-- <div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>This is our Home Page!</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="example-text">Example Text</label>
            <input type="text" id="example-text" class="form-control" aria-describedby="example-text" placeholder="Enter Example Text">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>
        <h3>Examples:</h3>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script> --}}
